.label
{
    -fx-font-family: Cambria;
    -fx-font-size: 15;

}


#journey
{

    -fx-font-size: 25;
    -fx-text-fill: #b52828;
}

#theOriginal
{
    -fx-font-size: 16;
}

#route
{
    -fx-font-size: 15;
}